# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/r/test/
app/build/generated/source/rs/
app/build/intermediates/assets/test/
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/Whoo.opencv.sdk/java/unspecified/aidl/
app/build/intermediates/exploded-aar/Whoo.opencv.sdk/java/unspecified/assets/
app/build/intermediates/exploded-aar/lib.kashif/folderpicker/2.2/aidl/
app/build/intermediates/exploded-aar/lib.kashif/folderpicker/2.2/assets/
app/build/intermediates/exploded-aar/lib.kashif/folderpicker/2.2/jni/
app/build/intermediates/exploded-aar/lib.kashif/folderpicker/2.2/libs/
app/build/intermediates/manifests/tmp/
app/build/intermediates/ndk/
app/build/intermediates/res/test/
app/build/intermediates/rs/
app/build/intermediates/symbols/test/
app/build/tmp/
opencv/java/
opencv/sdk/java/build/generated/res/
opencv/sdk/java/build/generated/source/aidl/test/
opencv/sdk/java/build/generated/source/rs/
opencv/sdk/java/build/intermediates/assets/
opencv/sdk/java/build/intermediates/bundles/debug/aidl/
opencv/sdk/java/build/intermediates/bundles/debug/assets/
opencv/sdk/java/build/intermediates/bundles/release/aidl/
opencv/sdk/java/build/intermediates/bundles/release/assets/
opencv/sdk/java/build/intermediates/dependency-cache/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/android/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/calib3d/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/contrib/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/core/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/features2d/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/gpu/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/highgui/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/imgproc/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/ml/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/objdetect/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/photo/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/utils/
opencv/sdk/java/build/intermediates/javaResources/debug/org/opencv/video/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/android/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/calib3d/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/contrib/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/core/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/features2d/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/gpu/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/highgui/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/imgproc/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/ml/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/objdetect/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/photo/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/utils/
opencv/sdk/java/build/intermediates/javaResources/release/org/opencv/video/
opencv/sdk/java/build/intermediates/lint/
opencv/sdk/java/build/intermediates/ndk/
opencv/sdk/java/build/intermediates/rs/
opencv/sdk/java/build/tmp/compileDebugJava/
opencv/sdk/java/build/tmp/compileReleaseJava/
